<h1>ariticle</h1>
<p>
  <strong>Title:</strong>
  <%=@article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

  <h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>


  <h1>Hello, Rails!</h1>
<%= link_to 'My Blog', new_article_path %>
